@if (countryResource.isLoading()) {
  <div class="flex justify-center mt-10">
    <!-- <p-progressspinner /> -->
    <label for="">Cargando....</label>
  </div>
} @else if (countryResource.error()) {
  <app-alert variant="error" title="Error" message="No se pudo cargar la información del país." />
} @else if (countryResource.hasValue()) {
  @let country = countryResource.value()!;

  <div class="p-4">
    <!-- Nombre del país -->
    <div class="flex align-items-center gap-3 mb-5">
      <span class="text-5xl" [attr.aria-label]="country.name + ' flag'">{{ country.flag }}</span>
      <h1 class="text-4xl font-bold m-0">{{ country.name }}</h1>
    </div>

    <!-- <p-card class="mb-4"> -->
    <div class="flex flex-wrap gap-3">
      <app-badge color="info">
        <my-icon name="users" aria-hidden="true"></my-icon>
        Población: {{ country.population | number }}</app-badge
      >
      <app-badge color="success">
        <my-icon name="globe" aria-hidden="true"></my-icon>
        {{ country.region }}</app-badge
      >
      <app-badge color="warning">
        <my-icon name="map" aria-hidden="true"></my-icon>
        {{ country.subRegion }}</app-badge
      >
      <app-badge color="light"> {{ country.cca2 }}</app-badge>
      <app-badge color="error">
        <my-icon name="location" aria-hidden="true"></my-icon>
        {{ country.capital }}</app-badge
      >
    </div>
    <!-- </p-card> -->
    <app-component-card title=" Estadísticas: población | región | subregión | capital">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="flex flex-col align-items-center gap-3">
          <h2 class="text-xl font-semibold m-0">Bandera oficial</h2>
          <app-responsive-image [src]="country.flagSvg" [alt]="'Bandera de ' + country.name"></app-responsive-image>
          <!-- <p-image
            [src]="country.flagSvg"
            [alt]="'Bandera de ' + country.name"
            width="100%"
            [preview]="true"
            class="w-full"
          /> -->
        </div>
        <div class="flex flex-col gap-3">
          <h2 class="text-xl font-semibold m-0">Ubicación en el mapa</h2>
          @if (mapUrl()) {
            <iframe
              [src]="mapUrl()!"
              width="100%"
              height="360"
              style="border: 0; border-radius: 8px"
              allowfullscreen
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
              [title]="'Mapa de ' + country.name"
            ></iframe>
          }
        </div>
      </div>
    </app-component-card>
  </div>
}
